bullsfirst-oms-javaee/bfoms-javaee-wsdl/SecurityWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://archfirst.org/bfoms/securityservice.wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://archfirst.org/bfoms/securityservice.wsdl" name="SecurityService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://archfirst.org/bfoms/securityservice.wsdl" schemaLocation="http://localhost:8080/bfoms-javaee/SecurityService?xsd=1" />
        </xsd:schema>
    </types>
    <message name="RegisterUser">
        <part name="parameters" element="tns:RegisterUser" />
    </message>
    <message name="RegisterUserResponse">
        <part name="parameters" element="tns:RegisterUserResponse" />
    </message>
    <message name="UsernameExistsException">
        <part name="fault" element="tns:UsernameExistsException" />
    </message>
    <message name="AuthenticateUser">
        <part name="parameters" element="tns:AuthenticateUser" />
    </message>
    <message name="AuthenticateUserResponse">
        <part name="parameters" element="tns:AuthenticateUserResponse" />
    </message>
    <portType name="SecurityWebService">
        <operation name="RegisterUser">
            <input wsam:Action="RegisterUser" message="tns:RegisterUser" />
            <output wsam:Action="http://archfirst.org/bfoms/securityservice.wsdl/SecurityWebService/RegisterUserResponse" message="tns:RegisterUserResponse" />
            <fault message="tns:UsernameExistsException" name="UsernameExistsException" wsam:Action="http://archfirst.org/bfoms/securityservice.wsdl/SecurityWebService/RegisterUser/Fault/UsernameExistsException" />
        </operation>
        <operation name="AuthenticateUser">
            <input wsam:Action="AuthenticateUser" message="tns:AuthenticateUser" />
            <output wsam:Action="http://archfirst.org/bfoms/securityservice.wsdl/SecurityWebService/AuthenticateUserResponse" message="tns:AuthenticateUserResponse" />
        </operation>
    </portType>
    <binding name="SecurityWebServicePortBinding" type="tns:SecurityWebService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="RegisterUser">
            <soap:operation soapAction="RegisterUser" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="UsernameExistsException">
                <soap:fault name="UsernameExistsException" use="literal" />
            </fault>
        </operation>
        <operation name="AuthenticateUser">
            <soap:operation soapAction="AuthenticateUser" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <service name="SecurityService">
        <port name="SecurityWebServicePort" binding="tns:SecurityWebServicePortBinding">
            <soap:address location="http://localhost:8080/bfoms-javaee/SecurityService" />
        </port>
    </service>
</definitions>